<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xtelsolution.xoso">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".xoso.ProjectApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".xoso.view.activity.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".xoso.view.activity.DreamActivity"
            android:label="@string/title_activity_dream"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".xoso.presenter.activity.RandomLotteryActivity"
            android:label="@string/title_activity_random_lottery"
            android:theme="@style/AppTheme"/>

        <receiver android:name=".sdk.receiver.AlarmReceiver" />
        <service android:name=".sdk.service.SchedulingService" />
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="5765ba05cf4f36a9301d3a8eb9fe7c9e53ecb745" />
    </application>

</manifest>